.gitignore
.gitattributes
venv/
env/
.venv/
ENV/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.vscode/
.idea/
.ipynb_checkpoints/
Thumbs.db
.DS_Store
Web/__pycache__/
*.log
.pytest_cache/
.coverage
htmlcov/
page_source.html
*_temp.csv
*_backup.csv
*_copy.csv
*_demo*.csv
*_error*.csv
*_still_error*.csv
*_recrawled.csv
*_checkpoint.csv
*_fix*.csv
*_merged.csv
*_log.csv

preprocessData_All/visualization*.ipynb
preprocessData_Pharmacity/crawlMedicine_fix*.ipynb


crawlData_AnKhang/*_error*.csv
crawlData_AnKhang/*_fix*.csv
crawlData_DieuTri/*_error*.csv
crawlData_LongChau/*_demo*.csv
crawlData_LongChau/*_error*.csv
crawlData_MinhChau/*_temp.csv
crawlData_MinhChau/*_checkpoint.csv
crawlData_MinhChau/*_recrawled.csv
crawlData_Pharmacity/*_demo*.csv
crawlData_Pharmacity/*_error*.csv
crawlData_Pharmacity/*_checkpoint.csv



